<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <listener>
    <listener-class>com.xjsf.crm.web.listener.DriverMangerListener</listener-class>
  </listener>

  <filter>
    <filter-name>encodeFilter</filter-name>
    <filter-class>com.xjsf.crm.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodeFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.xjsf.crm.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>usercontroller</servlet-name>
    <servlet-class>com.xjsf.crm.settings.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usercontroller</servlet-name>
    <url-pattern>/settings/user/login.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>activitycontroller</servlet-name>
    <servlet-class>com.xjsf.crm.workbench.web.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activitycontroller</servlet-name>
    <url-pattern>/workbench/activity/getUserList.do</url-pattern>
    <url-pattern>/workbench/activity/save.do</url-pattern>
    <url-pattern>/workbench/activity/pageList.do</url-pattern>
  </servlet-mapping>
</web-app>
































